h1{
    color:blue;
    text-align: center;
}
a:hover{
    color: brown;
}
a:link{
    text-decoration: none;
}
h2{
    text-align: center;
    color: blueviolet;
}

.content-area{
    padding: 20px 0 20px 0;
}